.default-layout {
  .slider {
    padding: 5px 10px 0px 10px;
  }
  .body {
    height: 100vh;
    .page-header {
      padding: 0 30px 0 0;
      .page-title-section {
        display: flex;
        flex-direction: row;
        .page-title {
          margin: 0px;
          display: flex;
          align-items: center;
          margin-bottom: 5px;
        }
      }
    }
    .page-content {
      overflow-y: scroll;
      margin: 14px 16px;
      padding: 24px;
    }
  }

  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    margin: 16px 16px 30px 16px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    .image-container {
      display: flex;
      justify-content: center;
      img {
        height: 30px;
      }
    }
   
  }
}

.notification-section {
  .divider {
    margin: 10px 0;
  }
}
