.section {
  padding: 0px 50px;
  .section-illustration {
    margin-right: 10px;
  }
  .toggle-item {
    padding: 5px 10px;
    .toggle-option {
      padding-right: 40px;
    }
    .toggle-item-label {
      margin: 0;
    }
    .toggle-dropdown {
      display: flex;
      flex-direction: row;
    }
  }
}

.general-section {
  .dark-mode-toggle-container {
    margin: 0 17px;
  }
}
