.information-card {
  padding: 4px;
  height: 100%;
  .card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 25px 25px;
    min-height: 60px;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    .icon {
      font-size: 30px;
      margin: 0px 0px 20px 0px;
    }
  }
}

.purple-gradient {
  background: linear-gradient(to right bottom, #994ecc, #3e187a 120%);
}
.blue-gradient {
  background: linear-gradient(to right bottom, rgb(0, 127, 255), rgb(0, 89, 178) 120%);
}
.orange-gradient {
  background: linear-gradient(110.1deg, rgb(241, 115, 30), rgb(231, 29, 54) 120%);
}
.turquoise-gradient {
  background: radial-gradient(circle at 0.1% 99.8%, rgb(0, 164, 189) 0%, rgb(0, 189, 165) 90%);
}
