.information-card {
  padding: 4px;
  height: 100%;
  .card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 25px 25px;
    min-height: 60px;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    .icon {
      font-size: 30px;
    }
  }
}
.interest-rate-card {
  background: linear-gradient(to right bottom, #994ecc, #3e187a 120%);
  .icon {
    margin: 0px 0px 40px 0px;
  }
}
.summary-card {
  background: linear-gradient(to right bottom, rgb(0, 127, 255), rgb(0, 89, 178) 120%);
  .icon {
    margin: 0px 0px 40px 0px;
  }
}
.projection-card {
  background: linear-gradient(110.1deg, rgb(241, 115, 30), rgb(231, 29, 54) 120%);
  .icon {
    margin: 0px 0px 10px 0px;
  }
}
